.btnCall {
    padding: 1vh 2vw;
    background-color: #1976d2;
    font-weight: 800;
    color: #fff;
    border-radius: 1vh;
    box-shadow: 3px 3px 10px #555;
    border: 0;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 3px #555;
        margin: 3px 0 0 3px;
    }
    &:active {
        background-color: #094e92;
    }
    &:focus {
        outline: none;
    }
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#companies{
    margin: 2vh 0;
    border: 1px solid #000;
    .company{
        display: flex;

        &.header{
            background-color: #1976d2;
            font-weight: 800;
            color: #fff;
        }

        .companyAttribute{
            border: 1px solid #000;
            width: 20vw;
            padding: 1vh 1vw;
            display: flex;
        }
        .companySegment {
            justify-content: center;
        }
        .companyStandardDeviation {
            justify-content: flex-end;
        }
    }
}