<div class="flex-column" *ngIf="data; else requestData">
    <div id="companies">
      <div class="company header">
        <div class="companyAttribute companyName">NAME</div>
        <div class="companyAttribute companySegment">SEGMENT</div>
        <div class="companyAttribute companyStandardDeviation">STANDARD DEVIATION</div>
      </div>
      <div class="company" *ngFor="let item of data">
        <div class="companyAttribute companyName">{{item.name}}</div>
        <div class="companyAttribute companySegment">{{item.segment}}</div>
        <div class="companyAttribute companyStandardDeviation">{{item.standardDeviation}}</div>
      </div>
    </div>
    
    <button class="btnCall" (click) = "get()" >Refresh</button>
</div>

<ng-template #requestData>
<button class="btnCall" (click) = "get()" >Load Company Data</button>
</ng-template>